@model APS.Models.Purchase

@{
    ViewData["Title"] = "Compra";
}

<div class="row">

    @*<hr />*@
    <div class="col-md-4 col-md-offset-4" style="border-left: solid; border-right: solid; border-left-width: 1px; border-right-width: 1px">
        <h2>@ViewData["Title"]</h2>
        <section>
            <form asp-action="BuyBook" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <hr>
				<input asp-for="ItemId" value="@ViewBag.BookId" type="hidden"/>
                <h4>Endereço de entrega</h4>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="Street">Rua</label>
                            <input asp-for="Street" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Number">Numero</label>
                            <input asp-for="Number" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Dados do cartão</h4>
                <div class="row" style="text-align: center">
                    <label class="radio-inline"><input type="radio" name="card">Cartão de Crédito</label>
                    <label class="radio-inline"><input type="radio" name="card">Cartão de Débito</label>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Número do cartão</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Código de seguança</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nome impresso no cartão</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Comprar</button>
                </div>
            </form>
        </section>
    </div>
</div>