@model IEnumerable<APS.Models.Book>
@{
    ViewData["Title"] = "UpdateBook";
}

<h2>UpdateBook</h2>
<div class="row">
    <div class="col-sm-3">
        <ul>
            @foreach(var book in Model)
            {
                <li><a>@book.Title</a></li>
            }
        </ul>        
    </div>
</div>